/* basic styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* :root {
    --animation-duration: 2s;
  } */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono' !important;
    background: #0f0f0f !important;
    color: #fff !important;
}

/* nav styling starts here */

nav {
    width: 100%;
    background: #0f0f0f;
    height: 80px;
    position: fixed;
    z-index: 1;

}

nav #brand {
    float: left;
    display: block;
    margin-left: 82px;
    line-height: 80px;
    font-weight: 700;
}

nav #brand a {
    color: #fff;
    transition: all 0.3s ease-out;
}

nav brand a:hover {
    text-decoration: none;
}

nav #menu {
    float: left;
    right: 80px;
    position: fixed;
}

nav #menu li {
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    line-height: 80px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li a {
    color: #fff;
}

nav #menu li a:hover {
    text-decoration: none;
}

#toggle {
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 500;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.close-btn {
    position: absolute;
    right: 16px;
    font-weight: 500;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}

#resize {
    z-index: 1;
    top: 0px;
    position: fixed;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize #menu :nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a {
    color: #fff;
}

#resize #menu li a:hover{
    text-decoration: none;
}

#resize:active {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
    }

    nav #brand {
        margin-left: 24px;
    }

    #menu a {
        font-size: 20px;
        font-weight: 500;
    }

    nav #menu {
        display: none;
    }
}

@media (min-width: 768px) {
    #resize {
        visibility: hidden;
    }
}

/* nav styling ends here */

/* video header starts here */
.video-container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video{
    object-fit: cover;    
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}

/* .video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1b1b1b;
    opacity: 0.5;
} */


/* scroll down animation
.chevron-down-outline {
    position: absolute;
    left: 50%;
    bottom: 100px;
    display: block;

} */


/* about me section starts here */

.content{
    position: absolute;
    width: 100%;
    margin-top: 100vh;
}

section{
    padding: 140px 0px;
}

.section-index {
    color: #04BF55;
    font-weight: 600;
    font-size: 20px;
}

.section-heading {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    color: #4C555C
}

.section-subheading {
    margin: 40px 0;
    color: #5D5F74
}

.section-info {
    font-size: 18px;
    font-weight: 00;
    color: #D6D9E8;

}

/* about me section ends here */

.services {
    background-color: #D6D9E8;
}

.service {
    margin: 30px 0;
}

.icon ion-icon {
    font-size: 28px;
    color: #5D5F74;
}

.icon-title{
    font-size: 28px;
    color: #5D5F74;
}

/* work section comes here */


.work {
    text-align: center;
    width: 100%;
}

.work img {
    margin: 1%;
    width: 40%;
}

/* work section ends here */


/* contact section starts here */

.contact {
    background-color: #D6D9E8;
}

#contact-form {
    margin: 5% 0;
}

#contact-form ul {
    list-style: none;
    margin-bottom: 40px;
    border-radius: 0px;
}

#contact-form li:last-of-type {
    border-bottom: none;
}

#contact-form label {
    display: block;
    font-size: 22px;
    color:#5D5F74
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #101010;
    font-weight: 500;
    
}

input:focus {
    outline: none !important;
    border: none !important;
}

textarea:focus {
    outline: none !important;
    border: none !important;
}

.textarea {
    border-bottom: 1px solid #5D5F74;
}

@media (max-width: 900px) {
    #contact-form {
        margin: 5% 0;
        width: 98%;
    }
}

#email, #social-media, #behance {
    /* width: 30%;      Not needed, this is creating responsive issue */
    text-align: center !important;
    font-weight: 300;
}

.footer h4 {
    font-weight: 300;
    font-size: 20px;
}

#social-media ul li{
    display: inline-block;


}
section.footer{
    padding-left: 20px;
}

